.asideSign {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 30%;
	position: absolute;
	text-align: center;
	align-items: center;
    height: 100%;
	z-index: 1;
	height: 100vh;
}

.asideSign__logo {
    width: 20%;
}

.asideSign__container{
	position: relative;
	top: 20%;
}

@media screen and (max-width: 768px) {
	.asideSign{
		background: transparent;
		width: 100dvw;
	}
	.asideSign__container{
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		background-color: white;
		width: 60dvw;
		padding: 3%;
	}
}